<!-- contrato-detalle.component.html -->
<div class="container my-4">
  <mat-card>
    <header class="header">
      <div class="left-section">
        <button
          mat-icon-button
          [routerLink]="['/dashboard/customer/customers']"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <div class="text-container">
          <h1 class="title">Datos de la Empresa</h1>
          <p class="subtitle">{{ dataEnterprise?.name }}</p>
        </div>
      </div>
      <button (click)="editEnterprise()" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <strong>Número de Documento:</strong>
            {{ dataEnterprise?.ruc }}
          </div>
          <div class="mb-3">
            <strong>Razón Social:</strong> {{ dataEnterprise?.name }}
          </div>
          <div class="mb-3">
            <strong>Ciudad:</strong>
            {{ dataEnterprise?.city }}
          </div>

          <div class="mb-3">
            <strong>Dirección:</strong> {{ dataEnterprise?.address }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <strong>Teléfono:</strong> {{ dataEnterprise?.phone }}
          </div>

          <div class="mb-3">
            <strong>Ultima actualización:</strong>
            {{ dataEnterprise?.updatedAt | date }}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Mapa -->
  <mat-card class="container-map">
    <mat-card-content class="center-content">
      <app-mapleaf-loading
        *ngIf="!locationReady; else mapReady"
        class="full-size"
      ></app-mapleaf-loading>

      <ng-template #mapReady>
        <div class="mapa">
          <app-mapleaf-single-view></app-mapleaf-single-view>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
