<form ngNativeValidate [formGroup]="formRq" (ngSubmit)="enviarDatos()">
  <mat-card>
    <mat-card-header class="header-form">
      <mat-card-title> Registrar Egreso </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="control-full-width">
            <mat-label>Fecha</mat-label>
            <input
              matInput
              [matDatepicker]="pickerDate"
              formControlName="date"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerDate></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field class="control-full-width" appearance="fill">
            <mat-label>Motivo</mat-label>
            <mat-select formControlName="reasonId">
              @for (reason of reasons; track reason) {
              <mat-option [value]="reason.id">{{ reason.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Concepto</mat-label>
            <input
              matInput
              placeholder="Concepto"
              formControlName="description" 
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Monto</mat-label>
            <input
              type="number"
              matInput
              placeholder="Monto"
              formControlName="amount"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Nro. Recibo</mat-label>
            <input
              matInput
              placeholder="Nro. Recibo"
              formControlName="voutcher"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Observación</mat-label>
            <input
              matInput
              placeholder="Observación"
              formControlName="note"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="row-buttons">
        <button
          [disabled]="formRq.invalid"
          color="primary"
          mat-raised-button
          style="margin-right: 5px"
        >
          Guardar
        </button>
        
        <button 
        type="button" 
        mat-dialog-close="" 
        color="accent" 
        mat-raised-button
        (click)="close()"
        >
          Cancelar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
