<h2 mat-dialog-title class="title-card">Registrar equipo</h2>
<mat-dialog-content>
  <form ngNativeValidate [formGroup]="formEquipment" (ngSubmit)="enviarDatos()">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Tipo</mat-label>
              <mat-select [(value)]="selectedTipo" formControlName="type">
                @for (tipo of tipos; track tipo) {
                <mat-option [value]="tipo.value">{{
                  tipo.viewValue
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Marca</mat-label>
              <mat-select formControlName="brandId">
                @for (brand of brands; track brand) {
                <mat-option [value]="brand.id">{{ brand.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <mat-label>MAC</mat-label>
              <input matInput placeholder="MAC" formControlName="mac" />
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <mat-label>Serie</mat-label>
              <input matInput placeholder="Serie" formControlName="serie" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <mat-label>Modelo</mat-label>
              <input matInput placeholder="Modelo" formControlName="model" />
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <mat-label>Fecha de Compra</mat-label>
              <input
                matInput
                [matDatepicker]="pickerDesde"
                formControlName="purchaseDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerDesde"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerDesde></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-12">
              <mat-form-field class="w-100">
                <mat-label>Estado</mat-label>
                <mat-select [(value)]="selectedEstado" formControlName="status">
                  @for (estado of estados; track estado) {
                  <mat-option [value]="estado.value">{{
                    estado.viewValue
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <div class="d-flex flex-row justify-content-end w-100">
          <button
            [disabled]="formEquipment.invalid"
            color="primary"
            mat-flat-button
            style="margin-right: 5px"
          >
            Guardar
          </button>
          <button mat-dialog-close="" color="accent" mat-raised-button>
            Cancelar
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-dialog-content>
