.contenedor{
    margin: 20px;
}

table {
    width: 100%;
}

.mat-header-row {
    background-color: #3F51B5;
    color: white;
    /*font-weight: bold;*/
}

.mat-header-cell {
    color: white;

    /*font-weight: bold;*/
    /*border-right: solid 0.5px white;*/
}


mat-form-field {
    font-size: 14px;
    width: 80%;
}

.row-filter {
   display: flex;
   justify-content: space-between;
   align-items:center;
}

.row-acciones {
    display: flex;
    /*background-color: dodgerblue;*/
    justify-content: flex-end;
    padding: 5px;
}

.filtro {
    padding-top: 10px;
}


.center {
    text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}



.btn-pointer{
    cursor: pointer;
}


.circular-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}

.circular-btn:hover {
    background-color: #45a049;
}

.circular-btn:active {
    background-color: #3e8e41;
    transform: scale(0.95);
}

.menu-actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 52px;
}

