<form ngNativeValidate [formGroup]="formCreate" (ngSubmit)="enviarDatos()">
  <mat-card>
    <mat-card-header class="header-form">
      <mat-card-title> Nuevo Empleado </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>DNI</mat-label>
            <input matInput placeholder="DNI" formControlName="dni" />
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="name" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="Dirección" formControlName="address" />
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Teléfono" formControlName="phone" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Cargo</mat-label>
            <input matInput placeholder="Cargo" formControlName="position" />
          </mat-form-field>
        </div>

        <div class="row">
          <h2>Datos de Usuario:</h2>
          <div class="col-12 col-md-4">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field>
              <mat-label>Clave</mat-label>
              <input matInput placeholder="Password" formControlName="password" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field>
              <mat-label>Confirmar Clave</mat-label>
              <input matInput placeholder="Confirmar clave" formControlName="password_confirmation" />
            </mat-form-field>
          </div>

        </div>
<!-- <div *ngIf="formCreate.errors?.passwordMismatch  && formCreate.touched">
    Las contraseñas no coinciden.
  </div> -->

      </div>

      <div class="row">
        <div class="col-12">
          <mat-slide-toggle
            [color]="color"
            [checked]="checked"
            formControlName="status"
            >Activo</mat-slide-toggle
          >
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="row-buttons">
    <button
      [disabled]="formCreate.invalid"
      color="primary"
      mat-raised-button
      style="margin-right: 5px"
    >
      Guardar
    </button>
    <button mat-dialog-close="" color="accent" mat-raised-button>
      Cancelar
    </button>
  </div>
</form>
