<!-- contrato-detalle.component.html -->
<div class="container my-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <button
          mat-icon-button
          [routerLink]="['/support/tickets/list-tickets']"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        {{ dataTicket?.code }} - {{ dataTicket?.subject }}</mat-card-title
      >
      <mat-card-subtitle style="margin-left: 55px">{{
        dataTicket?.category?.name
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-8">
          <div class="mb-3">
            <strong>Asunto:</strong> {{ dataTicket?.subject }}
          </div>
          <div class="mb-3">
            <strong>Descripción:</strong>
            {{ dataTicket?.description }}
          </div>
          <div class="mb-3">
            <strong>Categoría:</strong> {{ dataTicket?.category?.name }}
          </div>

          <div class="mb-3">
            <strong>Técnico:</strong> {{ dataTicket?.technician?.name }}
          </div>

          <div class="mb-3">
            <strong>Asignado por:</strong> {{ dataTicket?.admin?.name }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <strong>Creado:</strong>
            {{ dataTicket?.created_at | date : "dd/MM/yy h:mm a" }}
          </div>
          <div class="mb-3">
            <strong>Asignado:</strong>
            {{ dataTicket?.assigned_at | date : "dd/MM/yy h:mm a" }}
          </div>
          <div class="mb-3">
            <strong>Resuelto:</strong> {{ dataTicket?.resolved_at }}
          </div>
          <div class="mb-3">
            <strong>Cerrado:</strong>
            {{ dataTicket?.closed_at | date }}
          </div>

          <div class="mb-3 estado">
            <strong>Estado:</strong>
            <span
              [ngClass]="{
                'status-registered': dataTicket?.status == 'registrado',
                'status-pending': dataTicket?.status == 'pendiente',
                'status-atention': dataTicket?.status == 'atencion',
                'status-resolved': dataTicket?.status == 'solucionado',
                'status-validation': dataTicket?.status == 'validacion',
                'status-await': dataTicket?.status == 'espera_pase',
              }"
              >{{ dataTicket?.status | titlecase }}</span
            >
          </div>
        </div>
      </div>
      <!-- Cliente -->
      <div class="col col-md-6">
        <div class="mb-3">
          <strong>Cliente:</strong>
          {{ dataTicket?.customer?.customerName }}
        </div>
        <div class="mb-3">
          <strong>Celular:</strong>
          {{ dataTicket?.customer?.phoneNumber }}
        </div>
        <div class="mb-3">
          <strong>Dirección:</strong>
          {{ dataTicket?.customer?.address }}
        </div>
      </div>

      <!-- Fin cliente -->

      <!-- Historial -->
      <div class="mt-2">
        <h4><strong>Historial:</strong></h4>
        <table
          *ngIf="(dataTicket?.history)!.length > 0; else noHistory"
          class="table"
        >
          <thead>
            <tr>
              <th>Cambiado por</th>
              <th>Actualización</th>
              <th>Comentario</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of dataTicket?.history">
              <td>{{ history.changed_by?.name }}</td>
              <td>{{ history.updated_at | date : "dd/MM/yy h:mm a" }}</td>
              <td>{{ history.comment }}</td>
              <td>{{ history.status | titlecase }}</td>
            </tr>
          </tbody>
        </table>
        <ng-template #noHistory>
          <div class="alert alert-info" role="alert">Sin historial</div>
        </ng-template>
      </div>

      <!-- Adjuntos -->
      <div class="row">
        <div class="col col-md-12">
          <div class="mb-3">
            <h4><strong>Adjuntos:</strong></h4>
          </div>

          <div class="mb-3">
            <ul class="list-attach">
              <li *ngFor="let attach of dataTicket?.attachments">
                <a href="{{ SRVIMG }}/storage/{{ attach.file_path }}" download>
                  {{ attach.file_path.replace("attachments/", "") }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Mapa -->
  <mat-card class="container-map">
    <mat-card-content class="center-content">
      <app-mapleaf-loading
        *ngIf="!locationReady; else mapReady"
        class="full-size"
      ></app-mapleaf-loading>

      <ng-template #mapReady>
        <div class="mapa">
          <app-mapleaf-single-view></app-mapleaf-single-view>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
