/* contrato-detalle.component.css */
.container {
  max-width: 800px;
}

mat-card {
  background: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface-container);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-card-header {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  padding: 16px;
  border-radius: 8px 8px 0 0;
}

mat-card-title {
  font-size: 1.5rem;
}

mat-card-subtitle {
  font-size: 1rem;
  color: var(--mat-sys-on-primary-container);
}

mat-card-content {
  padding: 16px;
  color: var(--mat-sys-on-surface-container);
}

.mb-3 {
  margin-bottom: 1rem;
}

.mat-card-title-child {
  font-size: 1.2rem;
}

table {
  width: 100%;
  margin-top: 1rem;
}

th,
td {
  text-align: left;
  padding: 8px;
  color: var(--mat-sys-on-primary-container);
}

thead {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

/* Mapa */

.container-map {
  margin-top: 15px;
  width: 100%;
  height: 330px;
  display: flex;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegúrate de que el contenedor tenga una altura definida */
}

.full-size {
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Para incluir padding y border dentro del ancho y alto */
}

.mapa {
  height: 100%;
  width: 100%;
  position: relative;
}

.estado {
  display: flex;
  align-items: center;
}
