<h2 mat-dialog-title class="title-card">Editar Categoría</h2>
<mat-dialog-content class="mt-2">
  <form ngNativeValidate [formGroup]="frmRq">
    <div class="row mt-2">
      <div class="col-12">
        <!-- Clave Actual -->
        <mat-form-field class="w-100">
          <mat-label>Tipo de gasto</mat-label>
          <mat-select [(value)]="selected" formControlName="type">
            @for (tipo of tipos; track tipo) {
            <mat-option [value]="tipo.value">{{ tipo.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- Nueva Clave -->
        <mat-form-field class="w-100">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="name" />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end">
  <button
    (click)="enviarDatos()"
    [disabled]="frmRq.invalid"
    color="primary"
    mat-flat-button
    style="margin-right: 5px"
  >
    Guardar
  </button>
  <button mat-dialog-close="" color="accent" mat-raised-button>Cancelar</button>
</mat-dialog-actions>
