.filter-row {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.filter-actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.5em;
}

/* Media Query para dispositivos móviles */
@media (max-width: 767px) {
  mat-form-field {
    margin-top: 5px;
  }

  button {
    margin-bottom: 5px;
  }
}

/* :host ::ng-deep table {
  border: 1px solid green;
} */

/* Funciona estilos */
/* table td,
table th {
  border-bottom: 1px solid var(--mat-sys-primary-fixed);
} */
