.toggle-filters-btn {
  display: flex;
  margin-left: auto;
}

.filter-panel {
  overflow: hidden;
  margin-bottom: 8px;
}

.filter-panel .row {
  row-gap: 16px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.filter-header h3 {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 500;
}

.filter-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  margin-bottom: 16px;
}

.filter-hint {
  font-size: 0.8em;
  color: #888;
  margin-bottom: 1em;
}

/* Media Query para dispositivos móviles */
@media (max-width: 767px) {
  mat-form-field {
    margin-top: 5px;
  }

  button {
    margin-bottom: 5px;
  }
}

/* :host ::ng-deep table {
  border: 1px solid green;
} */

/* Funciona estilos */
/* table td,
table th {
  border-bottom: 1px solid var(--mat-sys-primary-fixed);
} */
