.row-acciones {
  display: flex;
  /*background-color: dodgerblue;*/
  justify-content: flex-end;
  padding: 5px;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.btn-pointer {
  cursor: pointer;
}

.menu-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

/* Media Query para dispositivos móviles */
@media (max-width: 767px) {
  mat-form-field {
    margin-top: 5px;
  }

  button {
    margin-bottom: 5px;
  }
}

/* :host ::ng-deep table {
  border: 1px solid green;
} */

/* Funciona estilos */
/* table td,
table th {
  border-bottom: 1px solid var(--mat-sys-primary-fixed);
} */
