.title {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
  font-size: 1.5rem;
  font-weight: 500;
}

.info {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

/* Media Query para dispositivos móviles */
@media (max-width: 767px) {
  .title-amount {
    color: white;
    font-size: 1.5rem;
  }

  mat-card-title {
    color: white;
    font-size: 1.5rem;
    //margin-left: 5px;
  }

  mat-form-field {
    margin-top: 5px;
  }
}
