.contenedor{
    margin: 20px;
}

table {
    width: 100%;
}

.mat-header-row {
    background-color: #3F51B5;
    color: white;
    /*font-weight: bold;*/
}

.mat-header-cell {
    color: white;

    /*font-weight: bold;*/
    /*border-right: solid 0.5px white;*/
}


mat-form-field {
    font-size: 14px;
    width: 90%;
}

.row-filter {
   display: flex;
   justify-content: space-between;
   align-items:center;
}

.row-acciones {
    display: flex;
    /*background-color: dodgerblue;*/
    justify-content: flex-end;
    padding: 5px;
}

.filtro {
    padding-top: 10px;
}


.center {
    text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.btnAsignar {
    display: flex;

    justify-content: right;
    align-items: center;
    padding: 5px;
}

.btn-pointer {
    cursor: pointer;
}


.activos {
    text-align: center;
    border-radius: 20px;

    padding: 8px;
    background-color: lightgreen;
    color: #000000;
}

.no-activos {
    text-align: center;
    border-radius: 20px;
    padding: 8px;
    background-color: rgb(189, 89, 89);
    color: #FFFFFF;
}