.contenedor{
    margin: 20px;
}

table {
    width: 100%;
}

.table-container {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  overflow: auto;
}

.mat-header-row {
    background-color: #3F51B5;
    color: white;
    /*font-weight: bold;*/
}

.mat-header-cell {
    color: white;

    /*font-weight: bold;*/
    /*border-right: solid 0.5px white;*/
}


mat-form-field {
    font-size: 14px;
    width: 90%;
}

.row-filter {
   display: flex;
   justify-content: space-between;
   align-items:center;
}

.row-acciones {
    display: flex;
    /*background-color: dodgerblue;*/
    justify-content: flex-end;
    padding: 5px;
}

.filtro {
    padding-top: 10px;
}


.center {
    text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.btnAsignar {
    display: flex;

    justify-content: right;
    align-items: center;
    padding: 5px;
}

.btn-pointer {
    cursor: pointer;
}

.status-good {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  padding: 8px;
  background-color: lightgreen;
  color: #000000;
}

.status-regular {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  padding: 8px;
  background-color: #ffecb3;
  color: #000000;
}

.status-bad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  padding: 8px;
  background-color: rgb(238, 108, 108);
  color: #ffffff;
}