<div class="contenedor">
  <div class="row-filter">
    <!--  Filtro -->
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ej. Fernando Nizama"
        #input
        autocomplete="off"
      />
    </mat-form-field>
      <button (click)="openDialog('')" mat-raised-button color="accent">
        + Nuevo
      </button>

  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- id Video -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">ID</th>
        <td class="center" mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

       <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Tipo</th>
        <td class="center" mat-cell *matCellDef="let element">
          {{ element.type | uppercase }}
        </td>
      </ng-container>

      <!-- Documento Column -->
      <ng-container matColumnDef="serie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Serie</th>
        <td class="center" mat-cell *matCellDef="let element">
          {{ element.serie }}
        </td>
      </ng-container>

      <!-- Direccion Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.model }}</td>
      </ng-container>

      <!-- Direccion Column -->
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.brand }}</td>
      </ng-container>

      <!-- Latitude Column -->
      <ng-container matColumnDef="purchaseDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de Compra</th>
        <td mat-cell *matCellDef="let element">{{ element.purchaseDate }}</td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Estado</th>
        <td mat-cell *matCellDef="let element">
          <span
            [ngClass]="{
            'status-good': element.status === 'bueno',
            'status-bad': element.status === 'malo',
            'status-regular': element.status === 'regular',
          }"
            >{{ element.status | titlecase}}</span
          >
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" style="text-align: right">
          <mat-icon
            class="btn-pointer"
            (click)="openDialogEdit(row)"
            color="primary"
            >edit</mat-icon
          >
          <mat-icon class="btn-pointer" color="accent">delete</mat-icon>
          
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      pageSize="10"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>

