<form ngNativeValidate [formGroup]="formContrato" (ngSubmit)="enviarDatos()">
  <mat-card>
    <mat-card-header class="header-form">
      <mat-card-title> Cambiar Plan </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-sm-6"></div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <span>Cliente: </span>
          <h3>{{ getData.customerName }}</h3>
        </div>
        <div class="col-sm-6">
          <span>Plan activo: </span>
          <h3>{{ getData.planName }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Seleccione un plan</mat-label>
            <mat-select
              (selectionChange)="getPlanbyID($event.value)"
              formControlName="plan_id"
            >
              <mat-option *ngFor="let plan of planes" [value]="plan.id">
                {{ plan.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <div *ngIf="planSelected">
            @for (itemPlan of planSelected; track itemPlan) {
            <p>Plan de Servicio: {{ itemPlan.name }}</p>
            <mat-icon class="valign-center">upload</mat-icon>
            <span> {{ itemPlan.download }}</span>
            <mat-icon class="valign-center">download</mat-icon>
            <span>{{ itemPlan.upload }}</span>
            }
            <!-- Otros datos del plan -->
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="row-buttons">
        <button
          [disabled]="formContrato.invalid"
          color="primary"
          mat-raised-button
          style="margin-right: 5px"
        >
          Guardar
        </button>
        <button mat-dialog-close="" color="accent" mat-raised-button>
          Cancelar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
