<h2 mat-dialog-title class="title-card mb-2">Cambiar Plan</h2>
<mat-dialog-content>
  <form ngNativeValidate [formGroup]="formContrato" (ngSubmit)="enviarDatos()">
    <mat-card>
      <mat-card-content>
        <div class="grid form-grid">
          <div class="col-12">
            <span>Cliente: </span>
            <p class="fs-4 lh-sm">{{ getData.customerName }}</p>
          </div>
          <div class="col-sm-6">
            <span>Plan activo: </span>
            <p class="fs-4">{{ getData.planName }}</p>
          </div>
        </div>
        <div class="row gap-2 flex-wrap">
          <div class="col-12">
            <mat-form-field class="w-100">
              <mat-label>Seleccione nuevo plan</mat-label>
              <mat-select
                (selectionChange)="getPlanbyID($event.value)"
                formControlName="plan_id"
              >
                <mat-option *ngFor="let plan of planes" [value]="plan.id">
                  {{ plan.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12">
            <div *ngIf="planSelected">
              @for (itemPlan of planSelected; track itemPlan) {
              <mat-icon class="valign-center">upload</mat-icon>
              <span> {{ itemPlan.download }}Mbps</span>
              <mat-icon class="valign-center">download</mat-icon>
              <span>{{ itemPlan.upload }}Mbps</span>
              }
              <!-- Otros datos del plan -->
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="mt-3">
        <div class="d-flex flex-row justify-content-end w-100">
          <button
            [disabled]="formContrato.invalid"
            color="primary"
            mat-flat-button
            style="margin-right: 5px"
          >
            Guardar
          </button>
          <button mat-dialog-close="" color="accent" mat-raised-button>
            Cancelar
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-dialog-content>
