.table-container {
  margin: 20px;
}

table {
  width: 100%;
}

.row-acciones {
  display: flex;
  /*background-color: dodgerblue;*/
  justify-content: flex-end;
  padding: 5px;
}

.row-filter {
  margin: 20px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-paid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  padding: 8px;
  background-color: lightgreen;
  color: #000000;
}

.status-pending {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  padding: 8px;
  background-color: #ffecb3;
  color: #000000;
}

.status-overdue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  padding: 8px;
  background-color: rgb(238, 108, 108);
  color: #ffffff;
}
