<form ngNativeValidate [formGroup]="formEquipment" (ngSubmit)="enviarDatos()">
  <mat-card>
    <mat-card-header class="header-form">
      <mat-card-title> Registrar equipo </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="fill">
            <mat-label>Tipo</mat-label>
            <mat-select [(value)]="selectedTipo" formControlName="type">
              @for (tipo of tipos; track tipo) {
              <mat-option [value]="tipo.value">{{ tipo.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Serie</mat-label>
            <input
              matInput
              placeholder="Serie"
              formControlName="serie"
              #codeSer
              (input)="codeSer.value = codeSer.value.toUpperCase()"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Modelo</mat-label>
            <input
              matInput
              placeholder="Modelo"
              formControlName="model"
              #codeMod
              (input)="codeMod.value = codeMod.value.toUpperCase()"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="control-full-width" appearance="fill">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="brandId">
              @for (brand of brands; track brand) {
              <mat-option [value]="brand.id">{{ brand.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Fecha de Compra</mat-label>
            <input
              matInput
              [matDatepicker]="pickerDesde"
              formControlName="purchaseDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerDesde"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerDesde></mat-datepicker>
          </mat-form-field>

          <!-- <mat-form-field>
            <mat-label>Fecha de compra</mat-label>
            <input matInput
            type="date"
            placeholder="Fecha de Compra" formControlName="purchase_date" />
          </mat-form-field> -->
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select [(value)]="selectedEstado" formControlName="status">
              @for (estado of estados; track estado) {
              <mat-option [value]="estado.value">{{
                estado.viewValue
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="row-buttons">
        <button
          [disabled]="formEquipment.invalid"
          color="primary"
          mat-raised-button
          style="margin-right: 5px"
        >
          Guardar
        </button>
        <button mat-dialog-close="" color="accent" mat-raised-button>
          Cancelar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
