<div class="contenedor">
  <div class="row-filter">
    <!--  Filtro -->
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ej. Fernando Nizama"
        #input
        autocomplete="off"
      />
    </mat-form-field>
    <button (click)="newBox()" mat-raised-button color="accent">
      + Nuevo
    </button>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- id Video -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">ID</th>
        <td class="center" mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Nombre</th>
        <td class="center" mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Documento Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Ciudad</th>
        <td class="center" mat-cell *matCellDef="let element">
          {{ element.city }}
        </td>
      </ng-container>

      <!-- Direccion Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Dirección</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <!-- Direccion Column -->
      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef>Referencia</th>
        <td mat-cell *matCellDef="let element">{{ element.reference }}</td>
      </ng-container>

      <!-- Latitude Column -->
      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef>Latitude</th>
        <td mat-cell *matCellDef="let element">{{ element.latitude }}</td>
      </ng-container>

      <!-- Longitude Column -->
      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef>Longitude</th>
        <td mat-cell *matCellDef="let element">{{ element.longitude }}</td>
      </ng-container>

      <!--Phone Column -->
      <ng-container matColumnDef="total_ports">
        <th mat-header-cell *matHeaderCellDef>Nro. Puertos</th>
        <td mat-cell *matCellDef="let element">{{ element.total_ports }}</td>
      </ng-container>

      <!--Email Column -->
      <ng-container matColumnDef="available_ports">
        <th mat-header-cell *matHeaderCellDef>Puertos disponibles</th>
        <td mat-cell *matCellDef="let element">
          {{ element.available_ports }}
        </td>
      </ng-container>
      <!-- Estado Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Estado</th>
        <td mat-cell *matCellDef="let element">
          <span
            [ngClass]="{
              activos: element.status == 1,
              'no-activos': element.status == 0
            }"
            >{{ element.status == 0 ? "Suspendido" : "Activo" }}</span
          >
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" style="text-align: right">
          <mat-icon
            class="btn-pointer"
            (click)="EditBox(row.id)"
            color="primary"
            >edit</mat-icon
          >
          <mat-icon class="btn-pointer" color="accent">delete</mat-icon>
          <mat-icon
            class="btn-pointer"
            (click)="goToLinkMap(row.latitude, row.longitude)"
            color="accent"
            >maps</mat-icon
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      pageSize="10"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
