.contenedor {
  margin-top: 30px;
  //width: 98%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
}

/* Mapa */

.container-map {
  width: 100%;
  height: 100%;
  display: flex;
}

.mapa {
  height: 100%;
  width: 100%;
  position: relative;
}

//Precio
.span-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.card {
  background: var(--mat-sys-surface-bright);
  color: var(--mat-sys-on-surface);
}

.card-header {
  background: var(--mat-sys-surface-container);
}

/* Media Query para dispositivos móviles */
@media (max-width: 767px) {
  .container-map {
    margin-top: 5px;
    height: 300px; /* Ajusta esta altura según tus necesidades */
  }

  mat-card {
    margin-top: 2px;
  }

  mat-form-field {
    margin-top: 5px;
  }
}
