<div class="container py-2">
  <form
    [formGroup]="formContrato"
    (ngSubmit)="enviarDatos()"
    class="needs-validation"
    novalidate
  >
    <ul class="nav nav-tabs mb-2" id="tabContent">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#plan"
          >Datos del Plan</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#instalacion"
          >Datos de Instalación</a
        >
      </li>
    </ul>

    <div class="tab-content">
      <!-- TAB PLAN -->
      <div class="tab-pane fade show active" id="plan">
        <div class="card mb-2 shadow-sm">
          <div class="card-header fw-bold fs-4">
            Cliente : {{ customer?.customerCode }} |
            {{ customer?.customerName }}
          </div>
          <div class="card-body">
            <div class="row g-3 align-items-center">
              <div class="col-md-3">
                <label class="form-label">Seleccione un plan</label>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-select
                    formControlName="planId"
                    (selectionChange)="getPlanbyID($event.value)"
                  >
                    <mat-option *ngFor="let plan of planes" [value]="plan.id">{{
                      plan.name
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <label class="form-label">Seleccione una promoción</label>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-select formControlName="promotionId">
                    <mat-option [value]="0">Sin promoción</mat-option>
                    @for (promotion of promotions; track promotion) {
                    <mat-option [value]="promotion.id">{{
                      promotion.name
                    }}</mat-option>

                    }
                  </mat-select>
                  <button
                    *ngIf="formContrato.get('promotionId')?.value !== 0"
                    type="button"
                    mat-icon-button
                    class="text-primary"
                    matSuffix
                    (click)="$event.stopPropagation()"
                    matTooltip="{{ selectedPromotion?.description }}"
                  >
                    <mat-icon>info</mat-icon>
                  </button>
                </mat-form-field>
              </div>

              <div
                class="col-md-6 d-flex justify-content-center"
                *ngIf="planSelected"
              >
                <ng-container *ngFor="let itemPlan of planSelected">
                  <div class="col-md-6 align-items-center">
                    <p class="fs-2">
                      Precio:<strong>
                        {{ itemPlan.price | currency : "PEN" }}</strong
                      >
                    </p>

                    <div class="d-flex">
                      <mat-icon>upload</mat-icon> {{ itemPlan.download }} Mbps /
                      <mat-icon>download</mat-icon> {{ itemPlan.upload }} Mbps
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-2 shadow-sm">
          <div class="card-header fw-bold">Dirección de Instalación</div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-6">
                <mat-checkbox formControlName="check"
                  >Usar dirección del cliente</mat-checkbox
                >
                <mat-form-field appearance="fill" class="w-100 mt-3">
                  <mat-label>Ciudad</mat-label>
                  <mat-select
                    formControlName="cityId"
                    (selectionChange)="fetchCityDetails($event.value)"
                  >
                    @for (city of cities; track city) {
                    <mat-option [value]="city.id">{{ city.name }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100 mt-3">
                  <mat-label>Fecha de Instalación</mat-label>
                  <input
                    matInput
                    [matDatepicker]="pickerDesde"
                    formControlName="installationDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="pickerDesde"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerDesde></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100 mt-3">
                  <input
                    matInput
                    placeholder="Dirección de instalación"
                    formControlName="addressInstallation"
                  />
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100 mt-3">
                  <input
                    matInput
                    placeholder="Referencia"
                    formControlName="reference"
                  />
                </mat-form-field>
                <div class="row">
                  <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="w-100 mt-3">
                      <input
                        matInput
                        type="number"
                        placeholder="Latitud"
                        formControlName="latitude"
                        step="any"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="w-100 mt-3">
                      <input
                        matInput
                        type="number"
                        placeholder="Longitud"
                        formControlName="longitude"
                        step="any"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="h-100 d-flex align-items-center justify-content-center"
                >
                  <div class="w-100">
                    <app-mapleaf-loading
                      *ngIf="!locationReady; else mapReady"
                      class="w-100 h-100"
                    ></app-mapleaf-loading>
                    <ng-template #mapReady>
                      <div class="border rounded p-2" style="height: 300px">
                        <app-mapleaf-contract-view
                          [boxes]="boxs"
                          [searchRadius]="100"
                          (nearbyBoxesChange)="onNearbyBoxesChange($event)"
                        ></app-mapleaf-contract-view>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TAB INSTALACION -->
      <div class="tab-pane fade" id="instalacion">
        <div class="card mb-4 shadow-sm">
          <div class="card-header fw-bold">Datos de Instalación</div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>VLAN</mat-label>
                  <mat-select formControlName="routerId">
                    @for (router of routers; track router) {
                    <mat-option [value]="router.id">{{
                      router.vlan
                    }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Caja</mat-label>
                  <input
                    matInput
                    formControlName="boxId"
                    [matAutocomplete]="autoB"
                  />
                  <mat-autocomplete
                    #autoB="matAutocomplete"
                    [displayWith]="displayFnBox"
                  >
                    <mat-option
                      *ngFor="let optionB of filteredBox | async"
                      [value]="optionB"
                    >
                      {{ optionB.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Puerto</mat-label>
                  <mat-select formControlName="portNumber">
                    @for (port of ports; track port) {
                    <mat-option [value]="port.port_number">{{
                      port.port_number
                    }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header fw-bold">Datos del Equipo</div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Serie</mat-label>
                  <input
                    matInput
                    formControlName="equipmentId"
                    [matAutocomplete]="auto"
                  />
                  <button
                    type="button"
                    mat-icon-button
                    matSuffix
                    color="primary"
                    (click)="openEquipmentDialog()"
                    matTooltip="Agregar nuevo equipo"
                  >
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    [displayWith]="displayFn"
                  >
                    <mat-option
                      *ngFor="let option of filteredEquipos | async"
                      [value]="option"
                    >
                      {{ option.mac }} - {{ option.serie }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div
                  ngClass="d-flex"
                  *ngIf="selectedEquipment"
                  class="mt-2 gap-3"
                >
                  <p><strong>Tipo:</strong> {{ selectedEquipment.type }}</p>
                  <p><strong>Marca:</strong> {{ selectedEquipment.brand }}</p>
                  <p><strong>Modelo:</strong> {{ selectedEquipment.model }}</p>
                  <p><strong>Estado:</strong> {{ selectedEquipment.status }}</p>
                </div>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Usuario PPPoE</mat-label>
                  <input matInput formControlName="userPppoe" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Clave PPPoE</mat-label>
                  <input matInput formControlName="passPppoe" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header fw-bold">Otras Opciones</div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-3">
                <mat-checkbox formControlName="iptv">IPTV</mat-checkbox>
              </div>
              <div
                class="col-md-4"
                *ngIf="formContrato.get('iptv')?.value == true"
              >
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Usuario IPTV</mat-label>
                  <input matInput formControlName="userIptv" />
                </mat-form-field>
              </div>
              <div
                class="col-md-4"
                *ngIf="formContrato.get('iptv')?.value == true"
              >
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Clave IPTV</mat-label>
                  <input matInput formControlName="passIptv" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-checkbox formControlName="prepayment" checked
                  >Pago adelantado</mat-checkbox
                >
              </div>
              <div class="col-md-3">
                <mat-checkbox formControlName="installationPayment"
                  >Cobrar Instalación</mat-checkbox
                >
              </div>
              <div
                class="col-md-3"
                *ngIf="formContrato.get('installationPayment')?.value == true"
              >
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Monto</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="installationAmount"
                    step="any"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-checkbox formControlName="mikrotik" checked="true"
                  >Crear Usuario en Mikrotik</mat-checkbox
                >
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3">
          Estado MK: {{ statusMK }}
        </div>
        <div class="mt-3">
          <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="openOutputDialog()"
          >
            <mat-icon>inventory_2</mat-icon>
            Registrar Salida de Material
          </button>
        </div>
      </div>
    </div>

    <!-- Botones -->
    <div class="d-flex justify-content-end gap-2 mt-3">
      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="formContrato.invalid"
      >
        Guardar
      </button>
      <button type="button" mat-raised-button color="accent" (click)="cancel()">
        Cancelar
      </button>
    </div>
  </form>
</div>
