<h2 mat-dialog-title class="title-card">Registrar Marca</h2>
<mat-dialog-content class="mt-2">
  <form ngNativeValidate [formGroup]="formCreate" (ngSubmit)="enviarDatos()">
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field class="w-full">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Nombre"
            formControlName="name"
            #code
            (input)="code.value = code.value.toUpperCase()"
          />
        </mat-form-field>
      </div>

      <div
        class="col-12 col-md-6 d-flex justify-content-end align-items-center"
      >
        <mat-slide-toggle
          [color]="color"
          [checked]="checked"
          formControlName="status"
          >Activo</mat-slide-toggle
        >
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button
        [disabled]="formCreate.invalid"
        color="primary"
        mat-flat-button
        style="margin-right: 5px"
      >
        Guardar
      </button>
      <button mat-dialog-close="" color="accent" mat-raised-button>
        Cancelar
      </button>
    </div>
  </form>
</mat-dialog-content>
