<h2 mat-dialog-title class="title-card mb-2">Cambiar Equipo</h2>
<mat-dialog-content>
  <form ngNativeValidate [formGroup]="formContrato" (submit)="enviarDatos()">
    <mat-card>
      <mat-card-content>
        <div class="row mb-2">
          <div class="col-12">
            <span class="fs-3">Equipo: {{ getData[0].equipmentSerie }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100">
              <mat-label>Serie</mat-label>
              <input
                type="text"
                matInput
                formControlName="equipmentId"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
              >
                <mat-option
                  *ngFor="let option of filteredEquipos | async"
                  [value]="option"
                >
                  {{ option.mac }} - {{ option.serie }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div class="d-flex flex-row gap-2 mt-2">
              <div>
                <p *ngIf="selectedEquipment">
                  Tipo: {{ selectedEquipment.type | uppercase }}
                </p>
              </div>
              <div>
                <p *ngIf="selectedEquipment">
                  Marca: {{ selectedEquipment.brand | uppercase }}
                </p>
              </div>
              <div>
                <p *ngIf="selectedEquipment">
                  Modelo: {{ selectedEquipment.model | uppercase }}
                </p>
              </div>
              <div>
                <p *ngIf="selectedEquipment">
                  Estado: {{ selectedEquipment.status | uppercase }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Usuario pppoe</mat-label>
              <input
                matInput
                placeholder="Usuario pppoe"
                formControlName="userPppoe"
              />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Clave pppoe</mat-label>
              <input
                matInput
                placeholder="Clave pppoe"
                formControlName="passPppoe"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="mt-2">
        <div class="d-flex flex-row justify-content-end w-100">
          <button
            [disabled]="formContrato.invalid || selectedEquipment == null"
            color="primary"
            mat-flat-button
            style="margin-right: 5px"
          >
            Guardar
          </button>
          <button mat-dialog-close="" color="accent" mat-raised-button>
            Cancelar
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-dialog-content>
