<form ngNativeValidate [formGroup]="formCategory" (ngSubmit)="enviarDatos()">
  <mat-card>
    <mat-card-header class="header-form">
      <mat-card-title> Editar Categoría </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="name" />
          </mat-form-field>
        </div>
         <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Descripción" formControlName="description"
            
            />
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-slide-toggle [color]="color" [checked]="checked" formControlName="status"
            >Activo</mat-slide-toggle
          >
        </div>
      </div>


    </mat-card-content>

    <mat-card-actions>
      <div class="row-buttons">
        <button
          [disabled]="formCategory.invalid"
          type="submit"
          color="primary"
          mat-raised-button
          style="margin-right: 5px"
        >
          Guardar
        </button>
        <button mat-dialog-close="" color="accent" mat-raised-button type="button">
          Cancelar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
