<form ngNativeValidate [formGroup]="formCliente" (ngSubmit)="enviarDatos()">
  <mat-card>
    <mat-card-header class="header-form">
      <mat-card-title> Nuevo Cliente </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Tipo de cliente</mat-label>
            <mat-select [(value)]="selected" formControlName="type">
              @for (tipo of tipos; track tipo) {
              <mat-option [value]="tipo.value">{{ tipo.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

         <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Nro. Documento</mat-label>
            <input
              matInput
              placeholder="Nro. Documento"
              formControlName="documentNumber"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-slide-toggle [color]="color" [checked]="checked"
            >Activo</mat-slide-toggle
          >
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="control-full-width" appearance="fill">
            <mat-label>Ciudad</mat-label>
            <mat-select formControlName="cityId">
              @for (city of cities; track city) {
              <mat-option [value]="city.id">{{ city.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput 
            placeholder="Nombre" 
            formControlName="name"
              #codeNam
              (input)="codeNam.value = codeNam.value.toUpperCase()"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input 
            matInput 
            placeholder="Dirección" 
            formControlName="address" 
              #codeDir
              (input)="codeDir.value = codeDir.value.toUpperCase()"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Referencia</mat-label>
            <input
              matInput
              placeholder="Referencia"
              formControlName="reference"
                #codeRe
              (input)="codeRe.value = codeRe.value.toUpperCase()"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Latitud</mat-label>
            <input 
            matInput 
            placeholder="Latitud" 
            formControlName="latitude"
            type="number"
            
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Longitud</mat-label>
            <input
              matInput
              placeholder="Longitud"
              formControlName="longitude"
               type="number"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input
              matInput
              placeholder="Teléfono"
              formControlName="phoneNumber"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="row-buttons">
        <button
          [disabled]="formCliente.invalid"
          color="primary"
          mat-raised-button
          style="margin-right: 5px"
        >
          Guardar
        </button>
        <button mat-dialog-close="" color="accent" mat-raised-button>
          Cancelar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
