.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  
  .no-services-message {
    text-align: center;
    padding: 20px;
    font-style: italic;
  }
  
  table {
    width: 100%;
  }
  