<div class="contenedor">
  <div class="row">
    <div
      class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-stretch gap-2"
    >
      <!-- Botón: solo el contenedor tiene w-100 en móvil, sin clase en el botón -->
      <div class="w-100 w-md-auto">
        <button (click)="newMaterial()" mat-flat-button color="accent">
          + Nuevo Material
        </button>
      </div>

      <!-- Cuadro de búsqueda -->
      <div class="w-100 w-md-25">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Buscar</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Savitar"
            #input
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- id Video -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">ID</th>
        <td data-title="ID" mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- id Video -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Código</th>
        <td data-title="Código" mat-cell *matCellDef="let element">
          {{ element.code }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Nombre</th>
        <td data-title="Nombre" mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Latitude Column -->
      <ng-container matColumnDef="category_id">
        <th mat-header-cell *matHeaderCellDef>Categoría</th>
        <td data-title="Categoría" mat-cell *matCellDef="let element">
          {{ element.category.name }}
        </td>
      </ng-container>

      <!-- Longitude Column -->
      <ng-container matColumnDef="presentation_id">
        <th mat-header-cell *matHeaderCellDef>Presentación</th>
        <td data-title="Presentación" mat-cell *matCellDef="let element">
          {{ element.presentation.name }}
        </td>
      </ng-container>

      <!-- Longitude Column -->
      <ng-container matColumnDef="brand_id">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td data-title="Marca" mat-cell *matCellDef="let element">
          {{ element.brand?.name }}
        </td>
      </ng-container>
      <!-- Longitude Column -->
      <ng-container matColumnDef="min">
        <th mat-header-cell *matHeaderCellDef>Mínimo</th>
        <td data-title="Mínimo" mat-cell *matCellDef="let element">
          {{ element.min }}
        </td>
      </ng-container>

      <!-- Longitude Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td data-title="Tipo" mat-cell *matCellDef="let element">
          {{ element.type }}
        </td>
      </ng-container>

      <!-- Longitude Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Imagen</th>
        <td data-title="Imagen" mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.image">
            <button
              (click)="openModal(element.image)"
              mat-icon-button
              aria-label="Ver Imagen"
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </ng-container>

          <!-- Modal para mostrar la imagen en grande -->
          <div class="modal" *ngIf="isModalOpen" (click)="closeModal()">
            <span class="close">&times;</span>
            <div class="image-container">
              <!-- Spinner mientras la imagen carga -->
              <div *ngIf="!isLoading" class="spinner"></div>
              <!-- Imagen -->
              <img
                [src]="selectedImage"
                (load)="onModalImageLoad()"
                (error)="handleModalImageError($event)"
                class="modal-content"
                alt="Full-size image"
                [class.hidden]="!isLoading"
              />
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Estado</th>
        <td data-title="Estado" mat-cell *matCellDef="let element">
          <span
            [ngClass]="{
              'status-active': element.status == 1,
              'status-terminated': element.status == 0
            }"
            >{{ element.status == 0 ? "Suspendido" : "Activo" }}</span
          >
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Accciones</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="menu-actions"
          style="text-align: right"
        >
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editMaterial(row.id)">
              <mat-icon matListItemIcon>edit</mat-icon>
              Editar
            </button>

            <button mat-menu-item (click)="deleteMaterial(row.id)">
              <mat-icon matListItemIcon>delete</mat-icon>
              Eliminar
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      pageSize="10"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
