<form ngNativeValidate [formGroup]="formEdit" (ngSubmit)="enviarDatos(getData.id)">
  <mat-card>
    <mat-card-header class="header-form">
      <mat-card-title> Editar Marca </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input
              matInput
              placeholder="Nombre"
              formControlName="name"
              #code
              (input)="code.value = code.value.toUpperCase()"
            />
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-slide-toggle
            [color]="color"
            [checked]="checked"
            formControlName="status"
            >Activo</mat-slide-toggle
          >
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="row-buttons">
    <button
      [disabled]="formEdit.invalid"
      color="primary"
      mat-raised-button
      style="margin-right: 5px"
    >
      Guardar
    </button>
    <button mat-dialog-close="" color="accent" mat-raised-button>
      Cancelar
    </button>
  </div>
</form>

