<form ngNativeValidate [formGroup]="formPaid" (ngSubmit)="enviarDatos()">
  <mat-card>
    <mat-card-header class="header-form">
      <mat-card-title> Anular Factura </mat-card-title>
      <span class="title-amount">{{
        finalPrice | currency : "PEN" : "symbol" : "" : "es-PE"
      }}</span>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-12">
              <h2>Cliente: {{ getData.customerName }}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12">
              <h2>Plan: {{ getData.planName }}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-6">
              <h2>Mes: {{ getData.startDate | date : "MMMM" | titlecase }}</h2>
            </div>
            <div class="col-6 col-md-6">
              <div class="row">
                <span
                  >Desde:{{
                    getData.startDate | date : "MMMM, d" | titlecase
                  }}</span
                >
                <span
                  >Hasta:{{
                    getData.endDate | date : "MMMM, d" | titlecase
                  }}</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-12">
              <mat-form-field appearance="fill">
                <mat-label>Nro. Recibo:</mat-label>
                <input
                  matInput
                  placeholder="Nro. recibo"
                  formControlName="receipt"
                  readonly
                />
                {{ receipt }}
              </mat-form-field>
            </div>
          </div>
          <div class="row"></div>
          <div class="row">
            <div class="col-12 col-md-12">
              <mat-form-field appearance="fill">
                <mat-label>Observación:</mat-label>
                <input
                  matInput
                  placeholder="Observación"
                  formControlName="note"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="row-buttons">
        <button
          [disabled]="formPaid.invalid"
          color="primary"
          mat-raised-button
          style="margin-right: 5px"
        >
          Guardar
        </button>
        <button
          (click)="onCancel()"
          type="button"
          mat-dialog-close=""
          color="accent"
          mat-raised-button
        >
          Cancelar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
