<form ngNativeValidate [formGroup]="formEditBox" (ngSubmit)="enviarDatos(getData.id)">
  <mat-card >
    <mat-card-header class="header" >
      <mat-card-title> Actualizar Caja </mat-card-title>
    </mat-card-header>

    <!-- <mat-card-content>
      <div class="row">
          
        <div class="col-sm-6">
          <mat-form-field class="control-full-width" appearance="fill">
            <mat-label>Ciudad</mat-label>
            <mat-select formControlName="city_id">
              @for (city of cities; track city) {
              <mat-option [value]="city.id">{{ city.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Dirección" formControlName="address" />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Referencia" formControlName="reference" />
          </mat-form-field>
        </div>
      </div>
       <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Latitud" formControlName="latitude" />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Longitud" formControlName="longitude" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input
              matInput
              placeholder="Nro. de Puertos"
              formControlName="totalPorts"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Puertos libres" formControlName="availablePorts" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <mat-slide-toggle [color]="color" [checked]="checked" formControlName="status"
            >Activo</mat-slide-toggle
          >
        </div>
      </div>
    </mat-card-content> -->


    <mat-card-content>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="name" />
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field class="control-full-width" appearance="fill">
            <mat-label>Ciudad</mat-label>
            <mat-select formControlName="city_id">
              @for (city of cities; track city) {
              <mat-option [value]="city.id">{{ city.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
               <mat-label>Dirección</mat-label>
            <input matInput placeholder="Dirección" formControlName="address" />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
             <mat-label>Referencia</mat-label>
            <input
              matInput
              placeholder="Referencia"
              formControlName="reference"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
             <mat-label>Latitud</mat-label>
            <input matInput placeholder="Latitud" formControlName="latitude" />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
             <mat-label>Longitud</mat-label>
            <input
              matInput
              placeholder="Longitud"
              formControlName="longitude"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
               <mat-label>Nro. de Puertos</mat-label>
            <input
              matInput
              placeholder="Nro. de Puertos"
              formControlName="totalPorts"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
             <mat-label>Puertos libres</mat-label>
            <input
              matInput
              placeholder="Puertos libres"
              formControlName="availablePorts"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <mat-slide-toggle [color]="color" [checked]="checked"
            >Activo</mat-slide-toggle
          >
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="row-buttons">
        <button [disabled]="formEditBox.invalid" color="primary" mat-raised-button style="margin-right: 5px">
          Guardar
        </button>
        <button mat-dialog-close="" color="accent" mat-raised-button>
          Cancelar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
