<div mat-dialog-title class="title-card">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Pagar Factura</h2>
    <h2>{{ finalPrice | currency : "PEN" : "symbol" : "" : "es-PE" }}</h2>
  </div>
</div>
<mat-dialog-content class="mt-2">
  <form ngNativeValidate [formGroup]="formPaid">
    <div class="row">
      <div class="col-12">
        <div class="col-sm-12">
          <p class="fs-5 lh-1">Concepto: {{ getData.description }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            [matDatepicker]="pickerDate"
            formControlName="datePaid"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Nro. Recibo:</mat-label>
          <input
            matInput
            placeholder="Nro. recibo"
            formControlName="voutcher"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Observación:</mat-label>
          <input matInput placeholder="Observación" formControlName="note" />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="row-buttons">
    <button
      (click)="enviarDatos()"
      [disabled]="formPaid.invalid"
      color="primary"
      mat-flat-button
      style="margin-right: 5px"
    >
      Guardar
    </button>
    <button
      (click)="onCancel()"
      type="button"
      mat-dialog-close=""
      color="accent"
      mat-raised-button
    >
      Cancelar
    </button>
  </div>
</mat-dialog-actions>
