<div class="container-map">
  <div class="map-options">
    <h3>Filtros</h3>
    <label>
      <input type="checkbox" [(ngModel)]="showAllMarkers" (change)="toggleMarkers()" />
      Mostrar todas las cajas
    </label>
  </div>
  <!-- <h3>Coordenadas seleccionadas:</h3>
  <ul>
    <li *ngFor="let coordinate of filteredDataPoints">
      Nombre: {{ coordinate.name }}, Puertos Disponibles: {{ coordinate.availablePorts }}
    </li>
  </ul> -->

  <div class="map-container">
    <app-mapleaf-multiple-view
      [dataPoints]="dataPoints"
      [filterByRadius]="!showAllMarkers"
      [showAllMarkers]="showAllMarkers"
    ></app-mapleaf-multiple-view>
  </div>
</div>
