.contenedor {
  margin: 20px;
}

mat-form-field {
  width: 100%;
  //margin: 10px;
}

.row-filter {
  // margin: 10px;
  display: flex;
  align-items: center;
}

.status-paid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background-color: lightgreen;
  color: #000000;
}

.status-pending {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffecb3;
  color: #000000;
}

.status-overdue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(189, 89, 89);
  color: #ffffff;
}

.status-canceled {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(82, 82, 82);
  color: #ffffff;
}

.row-inactive {
  background-color: rgb(243, 172, 172); /* Rojo tenue */
}

.row-canceled {
  background-color: rgb(198, 190, 190); /* Rojo tenue */
}

/* Tabla responsive con stick */

.table-container {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 800px;
}

td.mat-column-acciones {
  // width: 20px;
  padding-right: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

/* Media Query para dispositivos móviles */
@media (max-width: 767px) {
  table {
    width: 100%;
    border: none;
  }

  :host {
    ::ng-deep {
      table thead {
        display: none;
      }
    }
  }

  table tr {
    display: flex;
    flex-direction: column;
    height: 240px;
    border: 1px solid rgb(194, 189, 189);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
  }

  table tr td {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    border: none;
    line-height: 1.5em;
  }

  table tr td.mat-column-acciones,
  table tr td.mat-column-status {
    width: 100%;
    height: 3em;
  }

  table td[data-title] {
    display: flex;
  }

  table td[data-title]::before {
    content: attr(data-title);
    font-weight: bold;
    flex-basis: 30%;
  }

  td:last-child {
    display: flex;
    justify-content: flex-end;
  }
}

//Columns
.columnas-menu-content {
  padding: 8px;
}

.menu-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}

button[mat-raised-button] {
  margin-bottom: 16px;
}
