<div class="contenedor">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Direccion Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element">
          {{ element.material.code }}
        </td>
      </ng-container>

      <!-- Direccion Column -->
      <ng-container matColumnDef="material">
        <th mat-header-cell *matHeaderCellDef>Material</th>
        <td mat-cell *matCellDef="let element">
          {{ element.material.name }}
        </td>
      </ng-container>

            <!-- Brand Column -->
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">
          {{ element.material.brand.name }}
        </td>
      </ng-container>

      <!-- Presentation Column -->
      <ng-container matColumnDef="presentation">
        <th mat-header-cell *matHeaderCellDef>Presentación</th>
        <td mat-cell *matCellDef="let element">
          {{ element.material.presentation.prefix }}
        </td>
      </ng-container>

      <!--Phone Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let element">
          {{ element.quantity }}
        </td>
      </ng-container>




      <!-- Acciones -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      pageSize="10"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
  <div class="row-acciones">
    <button mat-dialog-close="" color="accent" mat-raised-button>Cerrar</button>
  </div>
</div>
