<h2 mat-dialog-title class="title-card">Agregar Rol</h2>
<mat-dialog-content>
  <form ngNativeValidate [formGroup]="formRole" (ngSubmit)="enviarDatos()">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" formControlName="name" />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions class="d-flex justify-content-center">
        <button
          [disabled]="formRole.invalid"
          type="submit"
          color="primary"
          mat-raised-button
          style="margin-right: 5px"
        >
          Guardar
        </button>
        <button
          mat-dialog-close=""
          color="accent"
          mat-raised-button
          type="button"
        >
          Cancelar
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-dialog-content>
