<div class="contenedor">
  <div class="row">
    <div
      class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-stretch gap-2"
    >
      <!-- Botón: solo el contenedor tiene w-100 en móvil, sin clase en el botón -->
      <div class="w-100 w-md-auto">
        <button (click)="openDialog('')" mat-flat-button color="accent">
          + Nuevo Equipo
        </button>
      </div>

      <!-- Cuadro de búsqueda -->
      <div class="w-100 w-md-25">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Buscar</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ej. Router"
            #input
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- id Video -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">ID</th>
        <td class="center" mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Tipo</th>
        <td class="center" mat-cell *matCellDef="let element">
          {{ element.type | uppercase }}
        </td>
      </ng-container>

      <!-- Documento Column -->
      <ng-container matColumnDef="mac">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">MAC</th>
        <td class="center" mat-cell *matCellDef="let element">
          {{ element.mac }}
        </td>
      </ng-container>

      <!-- Documento Column -->
      <ng-container matColumnDef="serie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Serie</th>
        <td class="center" mat-cell *matCellDef="let element">
          {{ element.serie }}
        </td>
      </ng-container>

      <!-- Direccion Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.model }}</td>
      </ng-container>

      <!-- Direccion Column -->
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.brand }}</td>
      </ng-container>

      <!-- Latitude Column -->
      <ng-container matColumnDef="purchaseDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de Compra</th>
        <td mat-cell *matCellDef="let element">
          {{ element.purchaseDate | date : "dd-MM-yyyy" }}
        </td>
      </ng-container>

      <!-- Contrato Column -->
      <ng-container matColumnDef="contractCode">
        <th mat-header-cell *matHeaderCellDef>Contrato</th>
        <td mat-cell *matCellDef="let element">{{ element.contractCode }}</td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Estado</th>
        <td mat-cell *matCellDef="let element">
          <span
            [ngClass]="{
            'status-good': element.status === 'BUENO',
            'status-bad': element.status === 'MALO',
            'status-regular': element.status === 'REGULAR',
          }"
            >{{ element.status | titlecase }}</span
          >
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Accciones</th>
        <td mat-cell *matCellDef="let row" class="" style="text-align: center">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogEdit(row.id)">
              <mat-icon matListItemIcon>edit</mat-icon>
              Editar equipo
            </button>

            <button mat-menu-item (click)="delete(row.id)">
              <mat-icon matListItemIcon>delete</mat-icon>
              Eliminar
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      pageSize="10"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
