mat-form-field {
  width: 100%;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}


.control-full-width {
  width: 100%;
}

.control-full-50 {
  width: 49%;
}

.row-buttons {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.row{
  margin-top: 10px;
}

mat-card-title {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
}

.container {
  margin-top: 30px;
  /* margin-bottom: 20px; */
}

.row-items {
  display: flex;
  justify-content: space-between;
}

/* Mapa */

.container-map{
  width: 100%;
  height: 100%;
  display: flex;
}


.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegúrate de que el contenedor tenga una altura definida */
}


.full-size {
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Para incluir padding y border dentro del ancho y alto */
}

.mapa {
  height: 100%;
  width: 100%;
  position: relative;
}