<div class="container mt-5">
  <div class="row">
    <!-- Columna de bienvenida -->
    <div class="col-12 col-md-3 mb-4">
      <mat-card class="welcome-card">
        <mat-card-content class="d-flex align-items-center">
          <div class="icon">
            <mat-icon class="icon-w">person</mat-icon>
          </div>
          <div class="content">
            <div class="user-name">¡Bienvenido!</div>
            <div class="user-name">{{ User }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Columna principal de datos -->
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-6 col-lg-3 mb-4" *ngFor="let card of cards">
          <mat-card class="data-box">
            <mat-card-content class="d-flex align-items-center">
              <div class="icon">
                <mat-icon>{{ card.icon }}</mat-icon>
              </div>
              <div class="content">
                <div class="number">{{ card.number }}</div>
                <div class="label">{{ card.label }}</div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="row">
      <app-resume></app-resume>
    </div>
  </div>
</div>
