.sidenav-container {
    height: 100%;
    background: lightblue;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
}

.logo{
  display: flex;
  align-items: center;
  width: 80%;
  
}