.container-map {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // margin: 0;
  // padding: 0;
}

.map-container {
  flex: 1;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: lightgray; /* Solo para depuración, quita este color después */
}

.map-container > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.filter-section {
  position: absolute;
  right: 0;
  right: 30;
  height: 65px;
  z-index: 1000;
  display: flex;
  margin-right: 100px;
  align-items: center;
}

/* city-dropdown.component.css */
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  cursor: pointer;
}

.mapa {
  height: 93dvh;
  width: 94dvw;
  //position: relative;
}
