.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: rgb(0, 255, 76);
}

.sidenav .mat-toolbar {
  background: red;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
