<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    class="dark-theme"
  >
    <mat-toolbar>
      <span>Savitar</span>
    </mat-toolbar>
    <mat-accordion>
      <mat-nav-list>
        <mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['/dashboard/home/home']"
        >
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Inicio</span>
        </mat-list-item>

         <mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['/dashboard/factibillity/factibillity-info']"
        >
          <mat-icon matListItemIcon>wifi_tethering</mat-icon>
          <span matListItemTitle>Factibilidad técnica</span>
        </mat-list-item>


        <mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['/dashboard/customer/customers']"
        >
          <mat-icon matListItemIcon>people</mat-icon>
          <span matListItemTitle>Clientes</span>
        </mat-list-item>
        <mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['/dashboard/plan/plans']"
        >
          <mat-icon matListItemIcon>cast_connected</mat-icon>
          <span matListItemTitle>Planes</span>
        </mat-list-item>
        <mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['/dashboard/router/routers']"
        >
          <mat-icon matListItemIcon>router</mat-icon>
          <span matListItemTitle>Routers</span>
        </mat-list-item>
        <mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['/dashboard/box/boxes']"
        >
          <mat-icon matListItemIcon>inbox</mat-icon>
          <span matListItemTitle>Cajas</span>
        </mat-list-item>
        <mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['/dashboard/equipment/equipments']"
        >
          <mat-icon matListItemIcon>devices</mat-icon>
          <span matListItemTitle>Equipos</span>
        </mat-list-item>
        <mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['/dashboard/contract/contracts']"
        >
          <mat-icon matListItemIcon>next_week</mat-icon>
          <span matListItemTitle>Contratos</span>
        </mat-list-item>
        <mat-list-item
          routerLinkActive="active-link"
          [routerLink]="['/dashboard/invoices/invoices']"
        >
          <mat-icon matListItemIcon>request_quote</mat-icon>
          <span matListItemTitle>Facturas</span>
        </mat-list-item>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="menu-item">
              <mat-icon>account_balance</mat-icon>
              <span>Gastos</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item
              class="submenu-item"
              routerLinkActive="active-link"
              [routerLink]="['/dashboard/expenses/fixes']"
            >
              <mat-icon matListItemIcon>payments</mat-icon>
              <span matListItemTitle>Gastos fijos</span>
            </mat-list-item>

            <mat-list-item
              class="submenu-item"
              routerLinkActive="active-link"
              [routerLink]="['/dashboard/expenses/variables']"
            >
              <mat-icon matListItemIcon>paid</mat-icon>
              <span matListItemTitle>Gastos variables</span>
            </mat-list-item>
            <mat-list-item
              class="submenu-item"
              routerLinkActive="active-link"
              [routerLink]="['/dashboard/reason/reasons']"
            >
              <mat-icon matListItemIcon>add_business</mat-icon>
              <span matListItemTitle>Categorías</span>
            </mat-list-item>

            <!-- Agrega más submenús según sea necesario -->
          </mat-nav-list>
        </mat-expansion-panel>

        <!-- Reportes -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="menu-item">
              <mat-icon>group</mat-icon>
              <span>Reportes</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="menu-item">
                <mat-icon>price_change</mat-icon>
                <span>Balance</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <mat-list-item
                class="submenu-item"
                routerLinkActive="active-link"
                [routerLink]="['/dashboard/invoices/report']"
              >
                <mat-icon matListItemIcon>list</mat-icon>
                <span matListItemTitle>Ingresos</span>
              </mat-list-item>

              <mat-list-item
                class="submenu-item"
                routerLinkActive="active-link"
                [routerLink]="['/dashboard/expenses/report']"
              >
                <mat-icon matListItemIcon>paid</mat-icon>
                <span matListItemTitle>Egresos</span>
              </mat-list-item>

              <!-- Agrega más submenús según sea necesario -->
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        *ngIf="isHandset$ | async"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ currentTitle }}</span>

      <div class="divider"></div>

      <mat-slide-toggle
        color="accent"
        [checked]="isDark"
        (change)="setTheme($event.checked)"
      >
        Dark Mode
      </mat-slide-toggle>

      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Cambiar Clave</button>
        <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
