.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 80;
  background: var(--mat-sys-primary-container);
}

.title {
  color: var(--mat-sys-primary);
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 260px; /* Ancho del menú expandido */
  transition: width 0.3s ease;
}

.sidenav-collapsed {
  width: 85px; /* Ajusta el ancho del menú colapsado */
  overflow: hidden;
  text-align: center;
}

.sidenav-collapsed mat-icon {
  display: block;
  margin: 0 auto; /* Centra los iconos horizontalmente */
  font-size: 24px; /* Ajusta el tamaño de los iconos si es necesario */
}

.sidenav-collapsed .mat-expansion-panel-header {
  justify-content: center;
}

.sidenav-collapsed .mat-panel-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.sidenav-collapsed .menu-text {
  display: none; /* Oculta el texto del menú cuando está colapsado */
}

.active-link {
  color: #4cf433 !important;
  font-weight: bold;
  background: rgba(76, 244, 51, 0.1);
  border-left: 3px solid #4cf433;
}

.active {
  color: var(--mat-sys-primary); /* Cambia el color del texto activo a verde */
}

.menu-text {
  margin-left: 5px;
}

.menu-text.hidden {
  display: none; /* Oculta el texto cuando el menú está colapsado */
}

.mat-expansion-panel-header.mat-expanded {
  border-left: 4px solid var(--mat-sys-on-primary);
}

.mat-icon {
  margin-right: 5px; /* Espacio entre el ícono y el texto */
  color: var(--mat-sys-tertiary);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-button {
  display: none;
}

.welcome-info {
  display: flex;
  flex-direction: column;
  padding: 4px;
  line-height: 1.2;
  text-align: center;
}

.title-bar {
  color: var(--mat-sys-primary);
}

@media (max-width: 599px) {
  .mobile-menu-button {
    display: block;
    margin-right: 1rem;
  }

  .sidenav {
    width: 90% !important;
  }

  .hide-on-mobile {
    display: none !important;
  }
}

.divider {
  flex: 1 1 auto;
}
