.sidenav-container {
  height: 100%;
  width: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 4px solid #4cf433; /* Cambia el color según tu preferencia */
}

.active-link span {
  color: #4cf433; /* Cambia el color según tu preferencia */
}

.divider {
  flex: 1 1 auto;
}


.menu-item mat-icon,
.menu-item span {
  display: inline-flex;
  align-items: center;
}

.menu-item mat-icon {
  margin-right: 8px; /* Ajusta este valor según sea necesario */
}

.menu-item span {
  flex: 1;
}

.menu-item.active-link,
.submenu-item.active-link {
  border-left: 4px solid green; /* Borde verde en la parte izquierda */
  padding-left: 12px; /* Ajusta este valor según sea necesario */
}
