<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    class="dark-theme"
    #drawer
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [ngClass]="isExpanded ? 'sidenav' : 'sidenav-collapsed'"
    (mouseenter)="expandMenu()"
    (mouseleave)="collapseMenu()"
  >
    <mat-toolbar class="toolbar">
      <span *ngIf="isExpanded">Savitar</span>
    </mat-toolbar>

    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let node of treeData; let i = index"
        [expanded]="isExpanded && expandedIndex === i"
        [hideToggle]="!isExpanded"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{ node.icon }}</mat-icon>
            <span
              class="menu-text"
              [ngClass]="{ active: isActive(node.route) }"
              >{{ node.name }}</span
            >
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="isExpanded">
          <div *ngFor="let child of node.children">
            <a
              mat-button
              [routerLink]="child.route"
              (click)="setActiveRoute(child.route)"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <mat-icon>{{ child.icon }}</mat-icon>
              <span class="menu-text">{{ child.name }}</span>
            </a>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="mobile-menu-button"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">{{ currentTitle }}</span>

      <div class="divider"></div>

      <div class="welcome-info title-bar hide-on-mobile">
        <span class="fs-6">Bienvenido: {{ userName | titlecase }}</span>
        <span class="fs-6">{{ storeName | titlecase }}</span>
      </div>

      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>
          {{ isDark ? "light_mode" : "dark_mode" }}
        </mat-icon>
      </button>

      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          *ngIf="role === 2 || role === 1"
          mat-menu-item
          (click)="goCities()"
        >
          Configurar Ciudades
        </button>
        <button
          *ngIf="role === 2"
          mat-menu-item
          (click)="detailEnterprise(this.id)"
        >
          Configurar Empresa
        </button>
        <button mat-menu-item (click)="changePass()">Cambiar Clave</button>
        <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
