<form ngNativeValidate [formGroup]="formTicket" (submit)="enviarDatos()">
<div class="container my-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <button
          mat-icon-button
          [routerLink]="['/support/tickets/list-tickets']"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        {{ dataTicket?.code }} - {{ dataTicket?.subject }}</mat-card-title
      >
      <mat-card-subtitle style="margin-left: 55px">{{
        dataTicket?.category?.name
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-8">
          <div class="mb-3">
            <strong>Asunto:</strong> {{ dataTicket?.subject }}
          </div>
          <div class="mb-3">
            <strong>Descripción:</strong>
            {{ dataTicket?.description }}
          </div>

          <div class="mb-3">
            <strong>Asignado por:</strong> {{ dataTicket?.admin?.name }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <strong>Creado:</strong> {{ dataTicket?.created_at | date:'dd/MM/yy h:mm a' }}
          </div>
          <div class="mb-3">
            <strong>Asignado:</strong> {{ dataTicket?.assigned_at | date:'dd/MM/yy h:mm a' }}
          </div>

          <div class="mb-3 estado">
            <strong>Estado:</strong>
            <span
              [ngClass]="{
                'status-pending': dataTicket?.status == 'pendiente',
                'status-atention': dataTicket?.status == 'atencion',
                'status-resolved': dataTicket?.status == 'solucionado',
                'status-validation': dataTicket?.status == 'validación',
                'status-await': dataTicket?.status == 'espera_pase',
              }"
              >{{ dataTicket?.status | titlecase }}</span
            >
          </div>
        </div>
      </div>

      <!-- Cliente -->
       <div class="row">
           <div class="col col-md-8">
             <div class="mb-3">
               <strong>Cliente:</strong>
               {{ dataTicket?.customer?.customerName }}
             </div>
              <div class="mb-3">
               <strong>Celular:</strong>
               {{ dataTicket?.customer?.phoneNumber }}
             </div>
              <div class="mb-3">
               <strong>Dirección:</strong>
               {{ dataTicket?.customer?.address }}
             </div>
           </div>

           <div class="col col-md-4">
              <mat-form-field >
                <mat-label>Estado</mat-label>
                <mat-select formControlName="status">
                  <mat-option value="atencion">En Atención</mat-option>
                  <mat-option value="espera_pase">Espera Pase</mat-option>
                  <mat-option value="validacion">En Validación</mat-option>
                  <mat-option value="solucionado">Solucionado</mat-option>
                  <mat-option value="cerrado">Cerrado</mat-option>
                </mat-select>
              </mat-form-field>
           </div>
       </div>
      <!-- Fin cliente -->

      <!-- Nota -->
       <div class="row">
        <div class="col col-md-12">
             <mat-form-field >
                <mat-label>Nota</mat-label>
                <textarea
                formControlName="comment"
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="5"
                 
                ></textarea>
              </mat-form-field>
        </div>
       </div>



    </mat-card-content>
  </mat-card>
      <!-- Botones -->
    <div class="row-buttons">
      <button
        [disabled]="formTicket.invalid"
        color="primary"
        mat-raised-button
        style="margin-right: 5px"
      >
        Guardar
      </button>
      <button
        type="button"
        (click)="goTickets()"
        color="accent"
        mat-raised-button
      >
        Cancelar
      </button>
    </div>

</div>

</form>